@charset "utf-8";

/* main */
#container{
	position: relative;
	min-height: 100dvh;
	padding: 56px 0;
	display: flex;
	flex-direction: column;
}

#body {
	flex-grow: 1;
	position: relative;
	overflow: scroll;
	overflow-x: hidden;
}

#body .overflow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* header */
#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #fff;
}
#header .inner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	height: 55px;
	border-bottom: 1px solid #D0D5DD;
}
#header .inner .menuBtn{
	position: absolute;
	left: 1em;
	width: 24px;
	height: 24px;
	background: url('../images/btn_menu.svg') no-repeat ;
}
#header .inner .alrmBtn{
	position: absolute;
	right: 1em;
	width: 24px;
	height: 24px;
	background: url('../images/btn_alret.svg') no-repeat ;
}
#header .inner .hambgBtn{
	position: absolute;
	right: 1em;
	width: 24px;
	height: 24px;
	background: url('../images/btn_menu.svg') no-repeat ;
}
#header .inner .alrmBtn::before{
	position: absolute;
	content: '';
	top: -5px;
	right: -3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: var(--color, none);
}
#header .inner .alrmBtn::after{
	position: absolute;
	content: attr(data-value);
	top: -5px;
	right: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
}
#header .inner .backBtn{
	position: absolute;
	left: 1em;
	width: 24px;
	height: 24px;
	background: url('../images/btn_back.svg') no-repeat ;
}
#header .inner h1{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #091D60;
}
#header .inner h1 img{
	width: 135px;
}

/* footer */
#footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 56px;
	box-shadow: 0px -3px 10px #00000014;
	z-index: 1;
}
#footer ul{
	display: flex;
	background-color: #fff;
}
#footer ul li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
}
/* #footer ul li.active a{
	background-color: #3C3DBF;
} */
#footer ul li.active a span{
	color: #FF8F39;
}
#footer ul li a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 56px;
}
#footer ul li a img{
	width: 24px;
	height: 24px;
}
#footer > ul > li.on > a img.on{
	display: block;
}
#footer > ul > li.on > a img.off{
	display: none;
}
#footer > ul > li > a img.on{
	display: none;
}
#footer > ul > li > a img.off{
	display: block;
}
#footer ul li a span{
	font-size: 12px;
	color: #7E7EB5;
}

/* content */
#container .content{  /*main body*/
	/* 여기에 padding top , min-height */
	background-color: #F6F7F9;
}
#container .content.white{ /*본문 body*/
	background-color: #fff;
}

/* 여기부터 */